.tableRow {
    border-bottom: 1px solid gray;
}

.pageTitle {
    text-align: center;
}

.listContainer {
    width: 100%;
    margin: auto;
}

.optionsColumn {
    top: 14px;
}

.tableRow {
    /* background-color: rgba(215, 241, 248, 0.50); */
    /* color: #000044; */
    border-bottom: 2px solid gray;
    height: 110px;
}

.tableBody {
    border-top:2px solid gray;
}

.row {
    margin-left: 0;
}

.key {
    float: left;
    margin-top: 33px;
    margin-left: 72px;
}

.listButton {
    background: none;
    outline: 0;
    border: 0;
    float: right;
    margin: auto;
    height: 50px;
    width: 50px;
}

td {
    height: 100%;
    padding: 10px 0 0 8px;
}

#menuIcon {
    height: 30px;
    position: relative;
    top: 10px;
}

#addIcon {
    height: 48px;
    position: relative;
    top: 10px;
}

.artist, .track {
    margin-top: 0;
}

.artistTitleTd {
    padding-top: 13px;
    padding-bottom: 5px;
}