<div class="container">
  <form name="signInForm" novalidate autocomplete="off" [formGroup]='signInForm' (submit)='login(); outputTest()'>
    <h2>Sign In</h2>
    <br>
    <input #username class="form-control" focus="true" type="text" name="username" required placeholder="Username" formControlName='username'>
    <br>
    <input #password class="form-control" type="password" name="password" required placeholder="Password" formControlName='password'>
    <br>
    <button id="loginBtn" name="login" type="submit" class="btn btn-info">Sign In</button>
    <br>
  </form>

  <a class="loginRegLinks" routerLink="/register">Not registered?......<strong>Register</strong></a>

</div>