<div class="listContainer">
  <table class="table">
    <thead>
    </thead>
    <tbody class="tableBody">
      <tr class="tableRow" *ngFor="let track of allTracks">
        <td class="artistTitleTd">
          <h3 class="row artist">{{track.artist}}</h3>
          <h4 class="row track">{{track.title}}</h4>
        </td>
        <td class="">
          <h3 class="">{{track.key}}</h3>
        </td>
        <td>
        <button *ngIf="true" class="listButton" (click)="addToTracklist(track)">
          <img id="addIcon" src="/assets/images/add.png" alt="">
        </button>
        <button *ngIf="true" class="listButton" (click)="trackMenu(event)">
          <img id="menuIcon" src="/assets/images/menu.png" alt="">
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>