.tableRow {
    border-bottom: 1px solid gray;
}

.pageTitle {
    text-align: center;
}

.listContainer {
    width: 100%;
    margin: auto;
}

.optionsColumn {
    top: 14px;
}

.tableRow {
    background-color: rgba(215, 241, 248, 0.50);
    color: #000044;
    border-bottom: 2px solid gray;
    height: 110px;
}

.tableBody {
    border-top:2px solid gray;
}

.row {
    margin-left: 0;
}

.keyAndAdd {
    display: block;
    margin: auto;
}

.key {
    float: left;
    margin-top: 33px;
    margin-left: 72px;
}

.listButton {
    background: none;
    outline: 0;
    border: 0;
    float: right;
    margin: auto;
    margin-top: 15px;
}

td {
    height: 100%;
}