.container {
  font-size: 25px;
  width: 80%;
}

h2 {
  text-align: center;
}

input {
  height: 50px;
}

th {
    text-align: center;
}

.title {

    font-size: 25px;
}

.artist {
    font-size: 20px;
}