body {
    font-family: "arial", "Times New Roman", Georgia, Serif;
    background-color: lightblue;
}

.loginRegLinks {
    font-size: 15px;
    color: gray;
}

.redBox {
    border: 1px solid red;
}
