body {
    font-family: "arial", "Times New Roman", Georgia, Serif;
    /* background-color: lightblue; */
    /* background-image: url("/assets/images/beach.jpg") no-repeat center center fixed; */
    /* background: url(/assets/images/beach.jpg) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginRegLinks {
    font-size: 15px;
    /* color: gray; */
    position: absolute;
    bottom: 10px;
}

.redBox {
    border: 2px solid red;
}

.sticky {
    position: fixed;
}

input {
    width: 90%;
}

input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 20px;
}

input[type="text"]
{
    font-size:20px;
}

.pageTitle {
    text-align: center;
}

.clearfix {
    overflow: auto;
}

.ListName {
    text-align: center;
    position: relative;
    top: 10px;
    /* background-color: rgba(162, 210, 240, 0.62); */
    line-height: 50px;
}

.searchInput {
    margin-bottom: 0;
}